// Add anything custom here -- mixins, variable overrides.
// by adding things here instead of overriding existing .LESS files, it makes merging changes on product updates easier


/* New Timeline style */
.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.vertical-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.vertical-timeline {
  position: relative;
  padding: 0;
  margin: 2em 1em;
  height: 600px;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: $client-card-width + 40px;
  height: 100%;
  width: 4px;
  background: #f1f1f1;
}

.vertical-timeline-content .btn {
  float: right;
}

.vertical-timeline.light-timeline:before {
  background: #e7eaec;
}

.dark-timeline .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}

.dark-timeline.center-orientation .vertical-timeline-content:before {
  border-color: transparent transparent transparent #f5f5f5;
}

.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}

.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
  background: #f5f5f5;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .vertical-timeline.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (max-width: 1170px) {
  .center-orientation.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}

.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-block:first-child {
  margin-top: 0;
}

.vertical-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
  }

  .center-orientation .vertical-timeline-block:first-child {
    margin-top: 0;
  }

  .center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0;
  }
}



.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  text-align: center;
}

.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
  }

  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }

  .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
    visibility: hidden;
  }
}

.vertical-timeline-content {
  position: relative;
  margin-left: $client-card-width + 80px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}

.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px;
}

.vertical-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.vertical-timeline-content .vertical-client {
  float: left;
  font-weight: 500;
}

.vertical-client small {
  color: #1ab394;
  font-weight: 400;
}

.vertical-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px;
  }

  .vertical-timeline-content p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  .center-orientation .vertical-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .center-orientation .vertical-timeline-content .btn {
    float: left;
  }

  .vertical-timeline-content .vertical-client {
    position: absolute;
    width: $client-card-width;
    left: -343px;
    top: 2px;
    font-size: 14px;
    background-color: #f5f5f5;
    display: block;
  }

  .vertical-timeline-content .vertical-client::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .vertical-timeline-content .vertical-client:before {
    border-color: transparent transparent transparent #f5f5f5;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
    float: right;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
    float: right;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-client {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
    visibility: hidden;
  }
}

.blue-bg,
.bg-success {
  background-color: #1c84c6 !important;
  color: #ffffff;
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  text-align: center;
}

.timeline-icon {
  position: absolute;
  margin-left: $client-card-width + 20px;
}


.vertical-timeline-content .vertical-client .card {

  >dd {
    margin-bottom: .25rem;
  }

  .list-group-item {
    padding: 0.25rem 1rem;
  }

  .card-header {
    padding-top: 6px;
    height: 32px;
  }



}


@media only screen and (max-width: 1171px) {

  .vertical-timeline {
    &::before {
      left: $hidden-client-timeline-width + 40px;
    }

    .vertical-timeline-content {
      margin-left: $hidden-client-timeline-width + 80px;
    }

    .timeline-icon {
      margin-left: $hidden-client-timeline-width + 20px;
    }

    .vertical-timeline-content .vertical-client {
      width: 100%;
      display: block;
    }
  }
}

.hidden-client-timeline {

  &::before {
    left: $hidden-client-timeline-width + 40px;
  }

  .vertical-timeline-content {
    margin-left: $hidden-client-timeline-width + 80px;
  }

  .timeline-icon {
    margin-left: $hidden-client-timeline-width + 20px;
  }

  .vertical-timeline-content .vertical-client {
    width: $hidden-client-timeline-width;
    display: none;
  }
}

.hidden-client-amount {

  .vertical-timeline-content .vertical-client .card, .client-list {

    .list-group-item:last-child {
      display: none;
    }
  }
}

//Client List

.client-list {
  line-height: 1;

  dd {
    margin-bottom: .25rem;
  }

  .list-group-item {
    padding: 0.25rem 1rem;
  }

  .card-header {
    padding-top: 6px;
    height: 32px;
  }

}

.nav-menu {
  margin: 0;
  margin-left: 2.90rem;
  /* this will get overriden with JS script, but we add it here as a counter weight for the flickering effect */
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 0 1 100%;
  transition: margin 0.5s ease-out 0s;
  color: #fff;

  >li {

    display: inline-block;
    position: static; //beacuse initial don't work in fking IE

    &.nav-title {
      display: none;
    }

    &.active {
      >a {
        box-shadow: none;

        &:before {
          content: '\f413';
          font-family: 'nextgen-icons';
          position: absolute;
          top: calc(50% + 10px);
          right: calc(50% - 5px);
          font-size: 7px;
          height: 10px;
          width: auto;
          color: #24b3a4;
        }
      }
    }



    >a {
      padding: .75rem 1.5rem .75rem 1rem;
      text-align: center;

      height: 100%;

      >.#{$cust-icon-prefix},
      >[class*='fa-'] {
        width: inherit;
        margin: 0;
        margin-right: .5rem !important;
        display: flex !important;
        align-items: center;
        justify-content: left;
        color: $white;
      }

      >.nav-link-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
        vertical-align: text-top;
        font-weight: 400;

        display: inline-block;
        /*override inline-flex*/

        // this is needed
        flex: 0 1 auto;

        &:hover,
        &:active {
          color: $nav-icon-hover-color;
        }
      }

      >.badge,
      >.badge.clear-badge {
        left: 53%;
      }

      >.collapse-sign {
        margin-left: 0.5rem;
        color: $white;
        position: absolute;
        right: 0.5rem;
        top: 0;
        bottom: 0;

        //force down arrow on all parent
        >em {
          &:before {
            content: "\f107";
          }
        }
      }

      >.badge:first-child {
        max-width: none;
        width: 25px !important;
        height: 25px !important;
        line-height: 16px !important;
        font-size: rem($fs-base) !important;
        display: block !important;
        margin: 0 auto 4px !important;

        // unfortunately we do need '!important' here :(
      }


    }

    // all children
    a {
      font-size: .9rem;
      color: $white;
    }

    >ul {
      display: none !important; //force invisibility to override plugin clicks
      width: $nav-top-drowndown-width;
      height: auto !important; //counters the click issue
      top: $nav-top-height;
      position: absolute;
      background: $nav-top-drowndown-background;
      border-radius: $border-radius-plus;
      box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.15);
      padding: 1rem 0;
      margin-top: 0;

      li {
        width: 100%;
        position: relative;

        a {
          padding: 0.65rem 1.25rem;
          width: 100%;
          color: $nav-top-drowndown-color;
          max-height: none;
          box-shadow: none;

          &:hover {
            color: $nav-icon-hover-color;
          }


          .nav-link-text {
            display: block;



            >.dl-ref {
              margin-left: 0;
              margin-right: 5px;
              display: none;
            }

            >.#{$cust-icon-prefix}>[class*='fa-'] {
              margin-left: 6px;
            }

          }


        }

        ul {
          background: $nav-top-drowndown-background;
          padding: 0;

          li {
            a {
              padding-left: 2rem;
            }
          }
        }

        &:hover {
          >a {
            background: $nav-top-drowndown-hover;
            color: $nav-icon-hover-color;
          }
        }
      }

      &:after {
        content: "";
        display: block;
        width: calc(100% + 100px);
        height: calc(100% + 120px);
        position: absolute;
        z-index: -1;
        left: -50px;
        top: -1rem;
        background: transparent;

      }

      &:before {
        content: "\f1c8";
        font-family: 'nextgen-icons';
        position: absolute;
        font-size: 5rem;
        color: $nav-top-drowndown-background;
        overflow: hidden;
        display: block;
        top: -1.7rem;
        left: 0;
      }
    }

    //first child hover
    &:hover {

      >a {
        color: $nav-icon-hover-color;
        background: transparent;

        &+ul {

          display: block !important;
          animation: animateFadeInUp 0.5s;
          -webkit-animation: animateFadeInUp 0.5s;

        }
      }
    }

  }

}


.filter-message {
  margin: 0.15rem auto;
}

.page-sidebar {
  z-index: 2001;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.page-content-wrapper {
  margin-left: $nav-width;
}

body.nav-function-hidden .page-content-wrapper {
  margin-left: 0px;
}


.nav-tabs .nav-link,
.nav-tabs .nav-link {
  border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .07) transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #000;

}

.nav-tabs .nav-item {
  padding: 0 0.05rem;
}

.nav-tabs .nav-link {
  background-color: #fff;
  padding: 0.5rem;

}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #e5e5e5;
  padding: 0.25rem 0.5rem 0.75rem 0.5rem;

}

.client-class {
  text-align: end;
}