{{#if appSidebar}}
<!-- BEGIN Left Aside -->
<aside class="page-sidebar list-filter-active">

	{{> include/_logo }}

	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="js-primary-nav" class="primary-nav js-list-filter" role="navigation">

		{{> include/_nav-filter }}
		{{> include/_nav-info-card }}

	
		<div class="row">
			<div class="col-xl-12 client-list">

				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-info-600 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">3 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span> 2 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-warning-400 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>

					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>To jest bardzo długa nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-success-500"></i>
												<i class="fas icon-stack-1x opacity-100 color-white">B</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">153 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span> 32 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-success-900 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>To jest bardzo długa nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-danger-700"></i>
												<i class="fas icon-stack-1x opacity-100 color-white">D</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-success-800 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-danger-700"></i>
												<i class="fas icon-stack-1x opacity-100 color-white">D</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-danger-700 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-danger-700"></i>
												<i class="fas icon-stack-1x opacity-100 color-white">D</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="card border m-2">
					<!-- notice the additions of utility paddings and display properties on .card-header -->
					<div class="card-header bg-primary-200 d-flex align-items-center flex-wrap">
						<!-- we wrap header title inside a span tag with utility padding -->
						<div class="card-title">
							<a>
								<i class="fal fa-cloud fs-sm" data-toggle="tooltip" data-placement="bottom" title=""
									data-original-title="Widykacja zewnętrzna"></i>
							</a>
							Cn32232323(2)</div>
						<button class="btn btn-success btn-xs btn-icon ml-auto waves-effect waves-themed"
							data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dostawca">
							<i class="fal fa-truck"></i>
						</button>
						<button class="btn btn-icon btn-xs btn-warning ml-1 fs-md" data-toggle="tooltip"
							data-placement="bottom" title="" data-original-title="Uwaga klient zablokowany">
							<i class="fal fa-exclamation-triangle"></i>
						</button>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<span class="list-group-item">
								<div class="row">
									<div class="col-sm-9 m-auto">
										<span class="fs-xl">
											<span>Krótka nazwa klienta</span>
										</span>
									</div>
									<div class="col-sm-3">
										<span class="fs-xxl" data-toggle="tooltip" data-placement="bottom" title=""
											data-original-title="Klasa: A">
											<div class='icon-stack'>
												<i class="base base-2 icon-stack-3x opacity-100 color-info-500"></i> <i
													class="fas icon-stack-1x opacity-100 color-white">A</i>
											</div>
										</span>
									</div>
								</div>
							</span>
							<li class="list-group-item">
								<dl class="card-text row">
									<dt class="col-sm-6 pr-0">Saldo</dt>
									<dd class="col-sm-6 pl-0 text-right">1 543 432,32 zł</dd>
									<dt class="col-sm-6 pr-0">Limit kredytowy</dt>
									<dd class="col-sm-6 pl-0 text-right"><span class="text-danger"
											data-placement="bottom" title="" data-original-title="Saldo rozszerzone">
											432 800,32 zł</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>


			</div>
		</div>

	</nav>
	<!-- END PRIMARY NAVIGATION -->

	<!-- NAV FOOTER -->
	{{> include/_nav-footer }}
	<!-- END NAV FOOTER -->

</aside>
<!-- END Left Aside -->
{{/if}}