<ul id="js-nav-menu" class="nav-menu">

	<li {{#is pagename "in" "miscellaneous_fullcalendar,timeline"}}class="active open" {{/is}}>
		<a href="#" title="Na dziś" data-filter-tags="na dziś">
			<i class="fal fa-calendar-alt"></i>
			<span class="nav-link-text" data-i18n="nav.na_dzis">Na dziś</span>
		</a>
		<ul>
			<li {{#is pagename "===" "miscellaneous_fullcalendar"}}class="active" {{/is}}>
				<a href="miscellaneous_fullcalendar.html" title="Kalendarz"
					data-filter-tags="historia kontaktu kalendarz">
					<span class="nav-link-text" data-i18n="nav.historia_kontaktu_kalendarz">* Kalendarz</span>
				</a>
			</li>
			<li {{#is pagename "===" "timeline"}}class="active" {{/is}}>
				<a href="timeline.html" title="Timeline" data-filter-tags="historia kontaktu timeline">
					<span class="nav-link-text" data-i18n="nav.historia_kontaktu_timeline">* Timeline</span>
				</a>
			</li>
			<li {{#is pagename "in" "page_inbox_general,page_inbox_read,page_inbox_write"}}class="active open" {{/is}}>
				<a href="#" title="Web mail" data-filter-tags="web mail">
					<span class="nav-link-text" data-i18n="nav.web_mail">* Web mail</span>
				</a>
				<ul>
					<li {{#is pagename "===" "page_inbox_general"}}class="active" {{/is}}>
						<a href="page_inbox_general.html" title="General" data-filter-tags="web mail general">
							<span class="nav-link-text" data-i18n="nav.web_mail_general">General</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_inbox_read"}}class="active" {{/is}}>
						<a href="page_inbox_read.html" title="Read" data-filter-tags="web mail read">
							<span class="nav-link-text" data-i18n="nav.web_mail_read">Read</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_inbox_write"}}class="active" {{/is}}>
						<a href="page_inbox_write.html" title="Write" data-filter-tags="web mail write">
							<span class="nav-link-text" data-i18n="nav.web_mail_write">Write</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Wszystkie faktury" data-filter-tags="">
					<span class="nav-link-text" data-i18n="nav.wszystkie_faktury">
						<i class="fal fa-file-alt mr-2"></i>Wszystkie faktury</span>
				</a>
			</li>
			<li>
				<a title="Harmonogramy i promesy" data-filter-tags="">

					<span class="nav-link-text" data-i18n="nav.harmonogramy_i_promesy">
						<i class="fal fa-calendar-check mr-2"></i>
						Harmonogramy i promesy</span>
				</a>
			</li>
			<li>
				<a title="Zadania" data-filter-tags="">
					<span class="nav-link-text" data-i18n="nav.zadania">
						<i class="fal fa-tasks mr-2"></i>
						Zadania</span>
				</a>
			</li>
			<li>
				<a title="Wiadomości" data-filter-tags="">
					<span class="nav-link-text" data-i18n="nav.wiadomości">
						<i class="fal fa-envelope mr-2"></i>
						Wiadomości</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);" title="Obsługa klientów">
					<span class="nav-link-text" data-i18n="nav.obsluga_klientow">
						<i class="fal fa-users mr-2"></i>Obsługa klientów</span>
				</a>
				<ul>
					<li>
						<a title="Do windykacji wewnętrznej" data-filter-tags="">
							<span class="nav-link-text" data-i18n="nav.windykacja_wewnetrzna">Do windykacji
								wewnętrznej</span>
						</a>
					</li>
					<li>
						<a title="Ubezpieczenia" data-filter-tags="">
							<span class="nav-link-text" data-i18n="nav.ubezpieczenia">Ubezpieczenia</span>
						</a>
					</li>
					<li>
						<a title="Do obsługi zewnętrznej" data-filter-tags="">
							<span class="nav-link-text" data-i18n="nav.do-obslugi_zewnetrznej">Do obsługi
								zewnętrznej</span>
						</a>
					</li>

				</ul>
			</li>
			<li>
				<a title="Dodaj klienta" data-filter-tags="">
					<span class="nav-link-text" data-i18n="nav.dodaj_klienta">
						<i class="fal fa-user-plus mr-2"></i>Dodaj klienta</span>
				</a>
			</li>
			<li>
				<a title="Alarmy zabezpieczeń" data-filter-tags="">
					<span class="nav-link-text" data-i18n="nav.alarmy_zabezpieczen">
						<i class="fal fa-alarm-clock mr-2"></i>Alarmy zabezpieczeń</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#" title="Historia kontaktu" data-filter-tags="historia kontaktu">
			<i class="fal fa-wrench"></i>
			<span class="nav-link-text" data-i18n="nav.historia_kontaktu">Narzędzia</span>
		</a>
		<ul>
			<li>
				<a href="javascript:void(0);" title="Administracyjne">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-newspaper"></i></span>
					<span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">Administracyjne</span>
				</a>
				<ul>
					<li>
						<a href="">
							<span class="nav-link-text" data-i18n="nav.font_icons_fontawesome_light">Zablokuj
								system</span>
						</a>
					</li>
					<li>
						<a href="" title="Panel administracyjny" data-filter-tags="">
							<span class="nav-link-text">Panel administracyjny</span>
						</a>
					</li>
					<li>
						<a href="" title="Historia" data-filter-tags="">
							<span class="nav-link-text">Historia</span>
						</a>
					</li>
					<li>
						<a href="" title="Synchronizacja" data-filter-tags="">
							<span class="nav-link-text">Synchronizacja</span>
						</a>
					</li>
					<li>
						<a href="" title="Operacje grupowe" data-filter-tags="">
							<span class="nav-link-text">Operacje grupowe</span>
						</a>
					</li>
					<li>
						<a href="" title="Wyczyść cache i wyloguj" data-filter-tags="">
							<span class="nav-link-text">Wyczyść cache i wyloguj</span>
						</a>
					</li>
					<li>
						<a href="" title="Menadżer tłumaczeń" data-filter-tags="">
							<span class="nav-link-text">Menadżer tłumaczeń</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a title="Teleadreson" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i
							class="fal fa-address-book"></i></span>
					<span class="nav-link-text" data-i18n="nav.teleadreson">Teleadreson</span>
				</a>
			</li>
			<li>
				<a title="Korespondencja seryjna" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i
							class="fal fa-paper-plane"></i></span>
					<span class="nav-link-text" data-i18n="nav.korespondencja_seryjna">Korespondencja seryjna</span>
				</a>
			</li>
			<li>
				<a title="Wysylka seryjna" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-envelope"></i></span>
					<span class="nav-link-text" data-i18n="nav.wysyla_seryjna">Wysyłka seryjna</span>
				</a>
			</li>
			<li>
				<a title="Kalkulatory" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-calculator"></i></span>
					<span class="nav-link-text" data-i18n="nav.kalkulatory">Kalkulatory</span>
				</a>
			</li>
			<li>
				<a title="Analityka" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-chart-bar"></i></span>
					<span class="nav-link-text" data-i18n="nav.analityka">Analityka</span>
				</a>
			</li>
			<li>
				<a title="Pomoc" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-question"></i></span>
					<span class="nav-link-text" data-i18n="nav.pomoc">Pomoc</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#" title="Historia kontaktu" data-filter-tags="historia kontaktu">
			<i class="fal fa-cog"></i>
			<span class="nav-link-text" data-i18n="nav.historia_kontaktu">Konfiguracja</span>
		</a>
		<ul>
			<li>
				<a title="Opcje ogólne" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-cogs"></i></span>
					<span class="nav-link-text" data-i18n="nav.opcje_ogolne">Opcje ogólne</span>
				</a>
			</li>
			<li>
				<a title="Konfiguracja listy faktur" data-filter-tags="">
					<span class="py-1 px-2 bg-primary-400 mr-2 rounded-circle"> <i class="fal fa-th-list"></i></span>
					<span class="nav-link-text" data-i18n="nav.konfiguracja_list_faktur">Konfiguracja list faktur</span>
				</a>
			</li>
		</ul>
	</li>
</ul>