<div class="nav-filter">
	<div class="filter">
		<div class="position-relative">
			<input type="text" id="nav_filter_input" placeholder="Szukaj" class="form-control" tabindex="0">
			<a href="#" onclick="" class="btn-primary btn-search-close">
				<i class="fal fa-filter"></i>
			</a>
		</div>
	</div>
	<div class="filter">
		<div class="form-group">
			<select class="form-control" id="nav_filter_select">
				<option>Wybierz zdefiowany filtr</option>
				<option>Monitoring</option>
				<option>Windykacja wewnętrzna</option>
				<option>Windykacja zewnętrzna</option>
				<option>Postępowanie sądowe</option>
			</select>
		</div>
	</div>

</div>

<div class="filter-message js-filter-message bg-success-600">showing 13 from 97 total</div>

