{{#if appFooter}}
<!-- BEGIN Page Footer -->
<footer class="page-footer fixed" role="contentinfo">
	<div class="demo-v-spacing">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#" role="tab">
					<span class="hidden-sm-down ml-1">Home</span>
					<i class="fal fa-home text-success"></i>

				</a>
			</li>
		<li class="nav-item">
				<span class="nav-link bg-info" data-toggle="tab" href="#" role="tab">
					<span class="hidden-sm-down ml-1">Client 1</span>
					<span class="btn btn-outline-primary btn-xs btn-icon waves-effect waves-themed">
						<i class="fal fa-sync-alt"></i>
					</span>
					<span class="btn btn-outline-danger btn-xs btn-icon waves-effect waves-themed">
						<i class="fal fa-times"></i>
					</span>
				</a>
			</li>
			<li class="nav-item">
				<span class="nav-link bg-primary" data-toggle="tab" href="#" role="tab">
					<span class="hidden-sm-down ml-1 color-white">Client 2</span>
					<span class="btn btn-outline-light btn-xs btn-icon waves-effect waves-themed">
						<i class="fal fa-sync-alt"></i>
					</span>
					<span class="btn btn-outline-danger btn-xs btn-icon waves-effect waves-themed">
						<i class="fal fa-times"></i>
					</span>
				</a>
			</li>
			<li class="nav-item">
				<span class="nav-link" data-toggle="tab" href="#" role="tab">
					<span class="hidden-sm-down ml-1">Settings</span>
					<span class="btn btn-outline-primary btn-xs btn-icon waves-effect waves-themed">
						<i class="fal fa-sync-alt"></i>
					</span>
					<span class="btn btn-outline-danger btn-xs btn-icon waves-effect waves-themed">
						<i class="fal fa-times"></i>
					</span>
				</a>
			</li>
		</ul>
	</div>
</footer>
<!-- END Page Footer -->
{{/if}}